<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 
 * @author 엄다빈
 * @editDate 23.12.18 ~ 23.12.26
  -->
<mapper namespace="com.groupware.officehi.repository.ApprovalRepository">

	<insert id="insert" useGeneratedKeys="true" keyProperty="approvalNo">
		INSERT INTO approval(user_no, date, title, content, category, checker1)
		VALUES (#{userNo}, curdate(), #{title}, #{content}, #{category}, #{checker1})
	</insert>
	
	<select id="findByUserNo">
		SELECT name
		FROM user
		WHERE user_no = #{userNo}
	</select>

	<select id="findAll">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
	</select>
	
	<select id="findApprovalByUserNoOrChecker">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.user_no = #{userNo} OR a.checker1 = #{userNo}
	</select>

	<select id="findUserNameAndDeptName">
		SELECT user_no, name, dept_name
		FROM user
		WHERE user_no != #{userNo}
	</select>
	
	<select id="findUserNameAndDeptNameByApprovalNo">		
		SELECT *
		FROM user u JOIN approval a
		WHERE a.approval_no = #{approvalNo} AND u.user_no != a.checker1
	</select>
	
	<select id="findAllByApprovalNo">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE approval_no = #{approvalNo}
	</select>
	
	<select id="findAllByUserNo">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.user_no = #{userNo}
	</select>
	
	<select id="findAllByChecker">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.checker1 = #{userNo} OR a.checker2 = #{userNo} OR a.checker3 = #{userNo}
	</select>
	
	<select id="findAllByUserName">
		SELECT *
		FROM approval a, user u
		WHERE a.user_no = u.user_no AND u.name like concat('%', #{userName}, '%')
	</select>
	
	<select id="findAllByTitle">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE title like concat('%', #{title}, '%')
	</select>
	
	<select id="findAllByDeptName">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE dept_name like concat('%', #{deptName}, '%') 
	</select>
	
	<select id="findAllBydate">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE date = #{date}
	</select>
	
	<select id="findAllByCheckDate">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE check_date = #{checkDate}
	</select>
	
	<select id="findByApprovalNo">
		SELECT *, (SELECT name
					FROM user u JOIN approval a
					WHERE a.approval_no = #{approvalNo} AND u.user_no = a.checker1) as checkerName1
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE approval_no = #{approvalNo}
	</select>
	
	<update id="updateApproval">
		UPDATE approval
		SET title = #{title}, content = #{content}, checker1 = #{checker1}
		WHERE approval_no = #{approvalNo}
	</update>
	
	<delete id="delete">
		DELETE FROM approval
		WHERE approval_no = #{approvalNo}
	</delete>
	
	<update id="updateStatus">
		UPDATE approval
		SET check_date = curdate(), status = #{status}
		WHERE approval_no = #{approvalNo}
	</update>
	
	<!-- paging query -->
	<select id="findAllPaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		LIMIT #{amount} OFFSET #{offset}
	</select>
		
	<select id="findApprovalByUserNoOrCheckerPaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.user_no = #{userNo} OR a.checker1 = #{userNo}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByApprovalNoPaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE approval_no = #{approvalNo}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByUserNoPaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.user_no = #{userNo}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByCheckerPaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE a.checker1 = #{userNo} OR a.checker2 = #{userNo} OR a.checker3 = #{userNo}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByUserNamePaging">
		SELECT *
		FROM approval a, user u
		WHERE a.user_no = u.user_no AND u.name like concat('%', #{userName}, '%')
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByTitlePaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE title like concat('%', #{title}, '%')
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByDeptNamePaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE dept_name like concat('%', #{deptName}, '%')
		LIMIT #{paging.amount} OFFSET #{paging.offset} 
	</select>
	
	<select id="findAllBydatePaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE date = #{date}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
	
	<select id="findAllByCheckDatePaging">
		SELECT *
		FROM approval a LEFT JOIN user u
		ON a.user_no = u.user_no
		WHERE check_date = #{checkDate}
		LIMIT #{paging.amount} OFFSET #{paging.offset}
	</select>
</mapper>