@charset "UTF-8";

footer {
	background-color: #fff;
}
.footer-top {
	padding: 0 20px;
	border: 1px solid #c7c7c7;
	border-left: none;
	border-right: none;
}
.footer-top .footer-container {
	padding: 24px 0;
}
.footer-menu {
	display: flex;
}
.footer-menu li {
	margin-right: 40px;
}
.footer-menu li:last-of-type {
	margin-right: 0;
}
.footer-menu a {
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.footer-bottom {
	padding: 0 20px;
}
.footer-bottom .footer-container {
	padding: 32px 0;
	flex-direction: column;
}
.footer-bottom p {
	margin-top: 20px;
	font-size: 18px;
	font-weight: 600;
}