@charset "UTF-8";

header {
	padding: 0 20px;
	height: 80px;
	background-color: #fff;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
}
.header-container {
	height: 100%;
	align-items: center;
	justify-content: space-between;
}
.logo-box {
	width: 240px;
	margin-right: 20px;
}
.header-left {
	display: flex;
	align-items: center;
}
.header-menu {
	display: flex;
}
.header-menu li {
	margin-right: 48px;
}
.header-menu li:last-of-type {
	margin-right: 0;
}
.header-menu a {
	font-size: 18px;
	font-weight: 600;
	color: #222;
}
.header-right a {
	font-size: 16px;
	font-weight: 600;
	color: #222;
}
.header-right a span:after {
	content:url("${resPath}/img/logout.svg");
	margin-left: 6px;
	vertical-align: top;
}
