@charset "UTF-8";

/* layout */
html {
	font-family: 'SUIT', sans-serif;
}
body {
	background-color: #f6f6f6;
}
main {
	height: calc(100vh - 210px - 80px); /* 전체화면 높이에서 헤더 높이와 푸터 높이를 뺌 */
	min-height: 500px;
	padding: 40px 20px;
	font-size: 20px;
}
.main-container, .header-container, .footer-container {
	display: flex;
    max-width: 1200px;
	margin: 0 auto;
}
.main-aside {
}
.aside {
	display: flex;
	flex-wrap: wrap;
	width: 240px;
	min-width: 240px;
	padding: 2em;
	margin-right: 1em;
	font-size: 20px;
	box-sizing: border-box;
	background-color: #fff;
}
.main-box {
	width: 100%;
}
.content-box {
	display:flex;
	flex-wrap:wrap;
	flex-direction: column;
	padding: 1.6em;
	background-color: #fff;
}
.floating {
	border-radius: 12px;
	box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.03);
}
.quick-menu {
	width: 50%;
}
.aside span {
	font-size: 0.9em;
	font-weight: 700;
	line-height: 1.4;
}
.aside > li {
	margin-top:12px;
}
.aside > li:first-of-type {
	margin-top: 0;
}
.aside ul {
	margin-top: 12px;
}
.aside ul li {
	padding: 0.3em 1em;
}
.aside ul span {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 600;
	line-height: 1;
}
h2 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 16px
}
h2 .lgmg {
	margin-botton: 20px;
}
thead {
	border-bottom: 1px solid #c7c7c7;
}
tbody {
	padding-top: 16px;
}
th {
	font-size: 18px;
	font-weight: 700;
}
tr {
	font-size: 16px;
	font-weight: 600;
}
thead tr th{
	padding: 20px 0 16px;
}
tbody tr td{
	padding-top: 20px;
}
tbody tr:first-of-type td {
	padding-top: 16px;
}